@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: normal;
    background-color: bisque;
}

.container {
    max-width: 600px;
    margin: auto;
    @media (max-width: 650px) {
        font-size: 0.9rem;
        padding: 10px;
        text-align: center;
    }
}

.about {
    display: flex;
}

.about-text {
    margin-left: 10px;
}

.img {
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25) ;
}

a {
    color: #6e8531;
    text-decoration: none;
}

a:hover {
    color: rgb(24, 155, 13);
}

a:visited {
    color: black;
}

a:active {
    color: aqua;
}
.card,.about {
    padding: 15px;
    border: 2px solid;
    border-color: beige;
    margin: 5px;
    background-color: antiquewhite;
    border-radius: 20px;
}
h1, h3, h4 {
    color:brown;
    text-decoration: underline;
}

.btn {
    border-radius: 15px;
    background-color: bisque;
    display: block;
    margin: auto;
}

.tables {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.tables td, th {
    text-align: center;
    padding-right: 10px;
    padding-bottom: 10px;
    border: 1px solid black;
 }

 .tables td:nth-child(even), th:nth-child(even) {
    background-color:rgb(245, 245, 220);
 }

 .tables td:hover {
    background-color: aquamarine;
 }

 .form h3 {
    text-align: center;
 }

 .form-row {
    margin-bottom: 10px;
 }

 .form-row .form-group {
    display: inline-block;
    margin-right: 20px;
    width: calc (50%-20px);
 }

 .form-row .form-group:last-child {
    margin-right: 0px;
 }

 .form-group label {
    display: block;
 }

 .form-group input .form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
 }